@import url(https://fonts.googleapis.com/css?family=DM+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Syne:regular,500,600,700,800);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 20rem;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------------------*/
body {
  background-color: #f4f4f4;
  font-family: "dm sans";
  font-size: 2rem;
  color: black;
}

html {
  scroll-behavior: smooth;
}

img {
  width: 100%;
}

.container {
  width: 100%;
}

.section {
  min-width: 320px;
  margin-top: 100px;
  padding: 15px 20px;
}

.title {
  color: var(--black, #383838);
  font-family: Syne;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 4.4px;
  margin-bottom: 40px;
}

.title--white {
  color: #f4f4f4;
}

.logo {
  color: #383838;
  font-family: Syne;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2.64px;
}

.nav {
  display: none;
}

.h1-wrapper {
  color: var(--black, #383838);
  text-align: center;
  font-family: Syne;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 4.4px;
  margin-bottom: 40px;
}

.hero__text {
  color: var(--black, #383838);
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 40px;
}

.sign-up-link {
  color: #f6f6f6;
  background-color: #383838;
  display: block;
  text-align: center;
  padding-top: 3px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  font-family: DM Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: auto;
}

.hero__img--vase {
  display: none;
}

.about-us__text {
  color: var(--black, #383838);
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
}

.about-us__text--small {
  color: var(--black, #383838);
  text-align: right;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.about-us__list {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.about-us__number {
  color: var(--black, #383838);
  text-align: center;
  font-family: Syne;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3.52px;
}

.about-us__advantages {
  color: var(--black, #383838);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.place {
  height: 273px;
  background-image: url(/img/place-bg.jpg);
  background-size: cover;
}

.place__title {
  color: var(--WHITE, #f4f4f4);
  font-family: Syne;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.64px;
}

.place__title--2nd-str {
  text-align: center;
}

.place__title--3rd-str {
  text-align: right;
}

.place__text {
  color: var(--WHITE, #f4f4f4);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 80px;
}

.works__item {
  margin-bottom: 30px;
}

.works__text {
  color: var(--black, #383838);
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.works__img {
  margin-top: 12px;
  margin-bottom: 12px;
}

.classes__img-1st,
.classes__img-2nd,
.classes__img-3rd {
  display: none;
}

.classes__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-bottom: 56px;
}

.classes__item::after {
  content: "";
  position: absolute;
  margin-top: 50px;
  display: block;
  height: 2px;
  background-color: #383838;
  width: 100%;
}

.classes__text {
  color: var(--black, #383838);
  font-family: DM Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.down-arrow-svg {
  width: 28px;
  height: 16px;
}

.questions__item {
  display: flex;
  align-items: baseline;
  margin-bottom: 30px;
}

.questions__numbers {
  color: var(--black, #383838);
  font-family: Syne;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.64px;
  margin-right: 8px;
}

.questions__text {
  color: var(--black, #383838);
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: auto;
}

.invite-bg {
  height: 844px;
  width: 100%;
  background-image: url(/img/invite-bg.jpg);
}

.invite__text {
  color: var(--WHITE, #f4f4f4);
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.invite-form {
  margin-top: 72px;
}
.invite-form__title {
  color: var(--WHITE, #f4f4f4);
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.invite-form__input {
  color: #f4f4f4;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
  height: 61px;
  background-color: transparent;
  border: 1px solid var(--WHITE, #f4f4f4);
  outline: none;
  padding-left: 12px;
}
.invite-form__input::-moz-placeholder {
  color: #afabab;
}
.invite-form__input::placeholder {
  color: #afabab;
}
.invite-form__btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 66px;
  color: var(--black, #383838);
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 40px;
  opacity: 0.8;
}

.contacts {
  position: relative;
}

.contacts__text {
  color: var(--black, #383838);
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 40px;
}

.contacts__text--bold {
  font-weight: 500;
}

.svg-tiktok {
  width: 30px;
  height: 30px;
  background-color: #383838;
  border-radius: 50%;
  position: absolute;
  top: 96px;
  right: 15px;
}

.svg-instagram {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 146px;
  right: 15px;
}

.svg-facebook {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 196px;
  right: 15px;
}

.footer-wrapper {
  width: 100%;
  background-color: #383838;
  padding-top: 24px;
  padding-bottom: 40px;
  padding-left: 15px;
  padding-right: 15px;
}

.footer__logo {
  color: var(--WHITE, #f4f4f4);
  font-family: Syne;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2.64px;
  display: block;
  margin-bottom: 32px;
}

.footer__item {
  color: var(--WHITE, #F4F4F4);
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
}/*# sourceMappingURL=main.css.map */