@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=DM+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Syne:regular,500,600,700,800);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 20rem;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------------------*/
body {
  background-color: #f4f4f4;
  font-family: "dm sans";
  font-size: 2rem;
  color: black;
}

html {
  scroll-behavior: smooth;
}

@media screen and (max-width: 1239px) {
  .container {
    width: 100%;
  }
  .section {
    min-width: 320px;
    max-width: 600px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 20px;
  }
  .title {
    color: var(--black, #383838);
    font-family: Syne;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 4.4px;
    margin-bottom: 40px;
  }
  .title--white {
    color: #f4f4f4;
  }
  img {
    width: 100%;
  }
}
@media screen and (min-width: 1240px) {
  .flex {
    display: flex;
  }
  .flex--column {
    display: flex;
    flex-direction: column;
  }
  .container {
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
  }
  .section {
    margin-top: 140px;
  }
  .title {
    color: #383838;
    font-family: Syne;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 7.7px;
  }
  .title--white {
    color: #f4f4f4;
  }
  .to-top-btn {
    position: fixed;
    right: 10px;
    bottom: 20px;
    background-color: #383838;
    padding: 10px 13px;
    border: 1px solid rgba(255, 255, 255, 0.2666666667);
    border-radius: 50%;
    color: #fff;
    text-decoration: none;
    opacity: 0.8;
  }
}
@media screen and (max-width: 1239px) {
  .header {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
  .header--container {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    color: #383838;
    font-family: Syne;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.64px;
  }
  .menu-button {
    display: inline-flex;
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
  }
  .menu-button .cross-svg {
    display: none;
  }
  .menu-button.is-open .cross-svg {
    display: block;
  }
  .menu-button.is-open .burger-svg {
    display: none;
  }
  .cross-svg {
    stroke: #383838;
  }
  .burger-svg {
    stroke: #383838;
  }
  .nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
  }
  .nav.is-open {
    display: block;
  }
  .nav__item {
    color: var(--black, #383838);
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
@media screen and (min-width: 1240px) {
  .menu-button {
    display: none;
  }
  .menu-svg {
    display: none;
  }
  .nav {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-size: normal;
    font-weight: 400;
    margin-top: 20px;
  }
  .nav__list {
    display: flex;
    align-items: center;
  }
  .nav__item:not(:last-of-type) {
    padding-right: 40px;
  }
  .logo {
    color: #383838;
    font-family: "syne";
    font-size: 36px;
    font-weight: 500;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }
}
@media screen and (max-width: 1239px) {
  .hero-section {
    min-width: 320px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 20px;
  }
  .h1-wrapper {
    color: var(--black, #383838);
    text-align: center;
    font-family: Syne;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 4.4px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .hero__text {
    color: var(--black, #383838);
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 40px;
  }
  .sign-up-link {
    color: #f6f6f6;
    background-color: #383838;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 70px;
    font-family: DM Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    /*Скруглені кути*/
    border-radius: 15px;
    /*Градієнт*/
    background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  }
  .hero__img--vase {
    display: none;
  }
}
@media screen and (min-width: 1240px) {
  .h1-wrapper {
    display: flex;
    height: 150px;
    justify-content: center;
    align-items: flex-end;
    color: #383838;
    text-align: center;
    font-family: Syne;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 9.68px;
  }
  .hero {
    display: flex;
    justify-content: space-between;
    margin-top: 44px;
  }
  .hero__text {
    display: block;
    width: 420px;
    color: #383838;
    font-family: DM Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .hero__img--vase {
    width: 525px;
    height: 346px;
    margin-top: 76px;
  }
  .sign-up-link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "DM Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 24px;
    width: 130px;
    height: 130px;
    color: #f6f6f6;
    background-color: #383838;
    border-radius: 50%;
  }
}
@media screen and (max-width: 1239px) {
  .about-us__text {
    color: var(--black, #383838);
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
  }
  .about-us__text--small {
    color: var(--black, #383838);
    text-align: right;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .about-us__list {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  .about-us__number {
    color: var(--black, #383838);
    text-align: center;
    font-family: Syne;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3.52px;
  }
  .about-us__advantages {
    color: var(--black, #383838);
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
@media screen and (min-width: 1240px) {
  .about-us__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .about-us__text {
    display: block;
    width: 525px;
    height: 530px;
    margin-top: 72px;
    color: #383838;
    font-family: DM Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .about-us__text--small {
    padding-bottom: 20px;
    color: #383838;
    text-align: right;
    font-family: DM Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .about-us__img {
    width: 630px;
    height: 562px;
  }
  .about-us__list {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
  }
  .about-us__number {
    color: #383838;
    text-align: center;
    font-family: Syne;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 7.7px;
  }
  .about-us__advantages {
    color: var(--black, #383838);
    font-family: DM Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 16px;
  }
}
@media screen and (max-width: 1239px) {
  .place {
    height: 273px;
    background-image: url(/img/place-bg.jpg);
    background-size: cover;
  }
  .place__title {
    color: var(--WHITE, #f4f4f4);
    font-family: Syne;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.64px;
  }
  .place__title--2nd-str {
    text-align: center;
  }
  .place__title--3rd-str {
    text-align: right;
  }
  .place__text {
    color: var(--WHITE, #f4f4f4);
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 80px;
  }
}
@media screen and (min-width: 1240px) {
  .place {
    height: 885px;
    background-image: url(/img/place-bg.jpg);
  }
  .place__title {
    color: var(--WHITE, #f4f4f4);
    font-family: Syne;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 7.7px;
  }
  .place__title--1st-str {
    display: inline-block;
    margin-top: 100px;
    margin-left: 100px;
  }
  .place__title--2nd-str {
    margin-left: 310px;
  }
  .place__title--3rd-str {
    margin-left: 700px;
  }
  .place__text {
    display: inline-block;
    margin-top: 250px;
    margin-left: 100px;
    color: var(--WHITE, #f4f4f4);
    font-size: 32px;
  }
}
@media screen and (max-width: 1239px) {
  .works__item {
    margin-top: 30px;
  }
  .works__text {
    color: var(--black, #383838);
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .works__img {
    margin-top: 12px;
    margin-bottom: 12px;
  }
}
@media screen and (min-width: 1240px) {
  .works__list {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
  }
  .works__text {
    color: var(--black, #383838);
    /* font-family: DM Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; */
  }
  .works__img {
    /* width: 400px;
    height: 400px; */
    margin-top: 16px;
    margin-bottom: 16px;
  }
}
@media screen and (max-width: 1239px) {
  .classes__img-1st,
.classes__img-2nd,
.classes__img-3rd {
    display: none;
  }
  .classes__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-bottom: 56px;
  }
  .classes__item::after {
    content: "";
    position: absolute;
    margin-top: 50px;
    display: block;
    height: 2px;
    background-color: #383838;
    width: 100%;
  }
  .classes__text {
    color: var(--black, #383838);
    font-family: DM Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .down-arrow-svg {
    width: 28px;
    height: 16px;
  }
}
@media screen and (min-width: 1240px) {
  .classes__img-1st {
    width: 400px;
    height: 295px;
  }
  .classes__img-2nd {
    margin-top: 20px;
    margin-right: 20px;
    width: 400px;
    height: 285px;
  }
  .classes__item {
    color: var(--black, #383838);
    font-family: DM Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 80px;
    margin-left: 105px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
  }
  .classes__item::after {
    content: "";
    position: absolute;
    margin-top: 50px;
    display: block;
    width: 400px;
    height: 2px;
    background-color: #383838;
  }
  .classes .flex {
    margin-top: 100px;
  }
  .mobile-close-up-img {
    display: none;
  }
}
@media screen and (max-width: 1239px) {
  .questions__item {
    display: flex;
    align-items: baseline;
    margin-top: 30px;
  }
  .questions__numbers {
    color: var(--black, #383838);
    font-family: Syne;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.64px;
    margin-right: 8px;
  }
  .questions__text {
    color: var(--black, #383838);
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: auto;
  }
}
@media screen and (min-width: 1240px) {
  .questions {
    display: flex;
    flex-direction: column;
  }
  .questions__list {
    margin-top: 120px;
    margin-left: auto;
  }
  .questions__item {
    display: flex;
    position: relative;
    align-items: baseline;
    width: 925px;
  }
  .questions__item::after {
    content: "";
    position: absolute;
    top: 50px;
    display: block;
    width: 925px;
    height: 2px;
    background-color: #383838;
  }
  .questions__item:not(:last-child) {
    margin-bottom: 80px;
  }
  .questions__numbers {
    color: var(--black, #383838);
    font-family: Syne;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 4.4px;
    margin-right: 55px;
  }
  .questions__text {
    color: var(--black, #383838);
    font-family: DM Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: auto;
  }
}
@media screen and (max-width: 1239px) {
  .invite-bg {
    height: 844px;
    width: 100%;
    background-image: url(/img/invite-bg.jpg);
  }
  .invite__position {
    padding-top: 40px;
  }
  .invite__text {
    color: var(--WHITE, #f4f4f4);
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .invite-form {
    margin-top: 72px;
  }
  .invite-form__title {
    color: var(--WHITE, #f4f4f4);
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .invite-form__input {
    color: #f4f4f4;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 100%;
    height: 61px;
    background-color: transparent;
    border: 1px solid var(--WHITE, #f4f4f4);
    outline: none;
    padding-left: 12px;
  }
  .invite-form__input::-moz-placeholder {
    color: #afabab;
  }
  .invite-form__input:-ms-input-placeholder {
    color: #afabab;
  }
  .invite-form__input::placeholder {
    color: #afabab;
  }
  .invite-form__btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 66px;
    color: var(--black, #383838);
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 40px;
    opacity: 0.8;
  }
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    background-image: url(/img/invite-bg.jpg);
  }
  .modal-content {
    background-color: transparent;
    padding-top: 80px;
    padding-bottom: 100px;
    padding-right: 40px;
    margin-left: auto;
    width: 80%; /* Could be more or less, depending on screen size */
    position: relative;
  }
  /* The Close Button */
  .close {
    color: #f4f4f4;
    float: right;
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    right: 20px;
    transition: all 0.25s;
  }
  .close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
    transform: scale(1.2);
  }
  .modal-text {
    color: var(--WHITE, #F4F4F4);
    font-family: DM Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 40px;
    margin-bottom: 400px;
  }
  .modal-by-line {
    color: var(--WHITE, #F4F4F4);
    text-align: right;
    font-family: DM Sans;
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
  }
}
@media screen and (min-width: 1240px) {
  .invite-bg {
    height: 980px;
    width: 100%;
    background-image: url(/img/invite-bg.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
  }
  .invite {
    height: 980px;
  }
  .invite__position {
    padding-top: 100px;
    padding-left: 100px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
  }
  .invite__text {
    color: var(--WHITE, #f4f4f4);
    font-family: DM Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 40px;
  }
  .invite-form {
    margin-top: 40px;
    margin-left: auto;
  }
  .invite-form__title {
    color: var(--WHITE, #f4f4f4);
    font-family: DM Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline-block;
    margin-top: 32px;
  }
  .invite-form__input {
    color: #afabab;
    font-family: DM Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 400px;
    height: 79px;
    background-color: transparent;
    border: 1px solid var(--WHITE, #f4f4f4);
    outline: none;
    padding-left: 20px;
  }
  .invite-form__input::-moz-placeholder {
    color: #afabab;
  }
  .invite-form__input:-ms-input-placeholder {
    color: #afabab;
  }
  .invite-form__input::placeholder {
    color: #afabab;
  }
  .invite-form__btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 82px;
    color: #383838;
    opacity: 0.8;
    font-family: DM Sans;
    font-size: 26px;
  }
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    background-image: url(/img/invite-bg.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
  }
  /* Modal Content/Box */
  .modal-content {
    background-color: transparent;
    padding-top: 80px;
    padding-right: 50px;
    margin-left: auto;
    width: 610px; /* Could be more or less, depending on screen size */
    position: relative;
  }
  /* The Close Button */
  .close {
    color: #f4f4f4;
    float: right;
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    right: 20px;
    transition: all 0.25s;
  }
  .close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
    transform: scale(1.2);
  }
  .modal-text {
    color: var(--WHITE, #f4f4f4);
    font-family: DM Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 80px;
  }
  .modal-by-line {
    color: var(--WHITE, #f4f4f4);
    font-family: DM Sans;
    font-size: 40px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    margin-top: 280px;
  }
}
@media screen and (max-width: 1239px) {
  .contacts {
    position: relative;
    padding-right: 60px;
  }
  .contacts__text {
    color: var(--black, #383838);
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 40px;
  }
  .contacts__text--bold {
    font-weight: 500;
  }
  .svg-tiktok {
    width: 30px;
    height: 30px;
    background-color: #383838;
    border-radius: 50%;
    position: absolute;
    top: 96px;
    right: 15px;
  }
  .svg-instagram {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 146px;
    right: 15px;
  }
  .svg-facebook {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 196px;
    right: 15px;
  }
}
@media screen and (min-width: 1240px) {
  .contacts {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .contacts__text {
    color: var(--black, #383838);
    font-family: DM Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* margin-top: 20px; */
    margin-left: auto;
    margin-right: auto;
    width: 505px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .contacts__text--bold {
    font-weight: 500;
    display: block;
    /* margin-bottom: 20px; */
  }
  .svg-instagram {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 200px;
    right: 0;
  }
  .svg-facebook {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 280px;
    right: 0;
  }
  .svg-tiktok {
    width: 40px;
    height: 40px;
    background-color: #383838;
    border-radius: 50%;
    position: absolute;
    top: 120px;
    right: 0;
  }
}
@media screen and (max-width: 1239px) {
  .footer-wrapper {
    width: 100%;
    background-color: #383838;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
  }
  .footer__logo {
    color: var(--WHITE, #f4f4f4);
    font-family: Syne;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.64px;
    display: block;
  }
  .footer__est {
    font-size: 20px;
  }
  .footer__nav {
    display: none;
  }
}
@media screen and (min-width: 1240px) {
  .footer-wrapper {
    width: 100%;
    height: 226px;
    background-color: #383838;
    margin-top: 100px;
    padding-top: 40px;
  }
  .footer {
    display: flex;
    justify-content: space-between;
  }
  .footer__logo {
    color: var(--WHITE, #f4f4f4);
    font-family: Syne;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 3.52px;
  }
  .footer__item {
    color: var(--WHITE, #f4f4f4);
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 20px;
  }
}/*# sourceMappingURL=main.css.map */