// MOBILE STYLES //

.classes__img-1st,
.classes__img-2nd,
.classes__img-3rd {
  display: none;
}

.classes__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-bottom: 56px;
}

.classes__item::after {
  content: "";
  position: absolute;
  margin-top: 50px;
  display: block;
  height: 2px;
  background-color: #383838;
  width: 100%;
}

.classes__text {
  color: var(--black, #383838);
  font-family: DM Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.down-arrow-svg {
  width: 28px;
  height: 16px;
}

// DESKTOP STYLES //

// .classes {
//   &__img-1st {
//     width: 400px;
//     height: 295px;
//   }

//   &__img-2nd {
//     margin-top: 20px;
//     margin-right: 20px;
//     width: 400px;
//     height: 285px;
//   }

//   &__item {
//     color: var(--black, #383838);
//     font-family: DM Sans;
//     font-size: 32px;
//     font-style: normal;
//     font-weight: 700;
//     line-height: normal;
//     margin-top: 80px;
//     margin-left: 105px;
//     position: relative;
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     width: 400px;
//   }

//   &__item::after {
//     content: "";
//     position: absolute;
//     margin-top: 50px;
//     display: block;
//     width: 400px;
//     height: 2px;
//     background-color: #383838;
//   }
// }

// .classes .flex {
//   margin-top: 100px;
// }
