// MOBILE STYLES //

.contacts {
  position: relative;
}

.contacts__text {
  color: var(--black, #383838);
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 40px;
}

.contacts__text--bold {
  font-weight: 500;
}

.svg-tiktok {
  width: 30px;
  height: 30px;
  background-color: #383838;
  border-radius: 50%;
  position: absolute;
  top: 96px;
  right: 15px;
}

.svg-instagram {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 146px;
  right: 15px;
}

.svg-facebook {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 196px;
  right: 15px;
}



// DESKTOP STYLES //

// .contacts {
//   display: flex;
//   flex-direction: column;
//   position: relative;

//   &__text {
//     color: var(--black, #383838);
//     font-family: DM Sans;
//     font-size: 32px;
//     font-style: normal;
//     font-weight: 400;
//     line-height: normal;
//     /* margin-top: 20px; */
//     margin-left: auto;
//     margin-right: auto;
//     width: 505px;
//     margin-bottom: 20px;
//     margin-top: 20px;
//   }

//   &__text--bold {
//     font-weight: 500;
//     display: block;

//     /* margin-bottom: 20px; */
//   }
// }

// .svg-instagram {
//   width: 40px;
//   height: 40px;
//   position: absolute;
//   top: 200px;
//   right: 0;
// }

// .svg-facebook {
//   width: 40px;
//   height: 40px;
//   position: absolute;
//   top: 280px;
//   right: 0;
// }

// .svg-tiktok {
//   width: 40px;
//   height: 40px;
//   background-color: #383838;
//   border-radius: 50%;
//   position: absolute;
//   top: 120px;
//   right: 0;
// }
