// MOBILE STYLES
@media screen and (max-width: 1239px) {
  .header {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }

  .header--container {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    color: #383838;

    font-family: Syne;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.64px;
  }

  .menu-button {
    display: inline-flex;
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;

    & .cross-svg {
      display: none;
    }

    &.is-open .cross-svg {
      display: block;
    }

    &.is-open .burger-svg {
      display: none;
    }
  }

  .cross-svg {
    stroke: #383838;
  }

  .burger-svg {
    stroke: #383838;
  }

  .nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;

    &.is-open {
      display: block;
    }

    &__item {
      color: var(--black, #383838);
      font-family: DM Sans;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
}

// DESKTOP STYLES

@media screen and (min-width: 1240px) {

  .menu-button {
    display: none;
  }

  .menu-svg {
    display: none;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-size: normal;
    font-weight: 400;
    margin-top: 20px;

    &__list {
      display: flex;
      align-items: center;
    }

    &__item:not(:last-of-type) {
      padding-right: 40px;
    }
  }

  .logo {
    color: #383838;
    font-family: "syne";
    font-size: 36px;
    font-weight: 500;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }
}
