// MOBILE STYLES //

@media screen and (max-width: 425px) {
  .questions__item {
    display: flex;
    align-items: baseline;
    margin-top: 30px;
  }

  .questions__numbers {
    color: var(--black, #383838);
    font-family: Syne;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.64px;
    margin-right: 8px;
  }

  .questions__text {
    color: var(--black, #383838);
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: auto;
  }
}

// DESKTOP STYLES //

// .questions {
//   display: flex;
//   flex-direction: column;

//   &__list {
//     margin-top: 120px;
//     margin-left: auto;
//   }

//   &__item {
//     display: flex;
//     position: relative;
//     align-items: baseline;
//     width: 925px;
//   }

//   &__item::after {
//     content: "";
//     position: absolute;
//     top: 50px;
//     display: block;
//     width: 925px;
//     height: 2px;
//     background-color: #383838;
//   }

//   &__item:not(:last-child) {
//     margin-bottom: 80px;
//   }

//   &__numbers {
//     color: var(--black, #383838);
//     font-family: Syne;
//     font-size: 40px;
//     font-style: normal;
//     font-weight: 700;
//     line-height: normal;
//     letter-spacing: 4.4px;
//     margin-right: 55px;
//   }

//   &__text {
//     color: var(--black, #383838);
//     font-family: DM Sans;
//     font-size: 32px;
//     font-style: normal;
//     font-weight: 400;
//     line-height: normal;
//     margin-right: auto;
//   }
// }
